<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NHotkey" version="1.2.1" targetFramework="net471" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net471" />
  <package id="OpenCvSharp4" version="4.0.0.20190108" targetFramework="net471" />
  <package id="OpenCvSharp4.runtime.win" version="4.0.0.20190108" targetFramework="net471" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net471" />
  <package id="SharpPcap" version="4.5.0" targetFramework="net471" />
</packages>